name: Solid Vite Pipeline
on:
  workflow_run:
    workflows: ['Solid Renderer Pipeline']
    types:
      - completed
    branches:
      - main
defaults:
  run:
    working-directory: packages/frameworks/solid-vite
jobs:
  solid-vite-workflow:
    runs-on: ubuntu-latest
    name: Lib workflow
    steps:
      - uses: ./.github/actions/setup
      - name: Check bundling
        run: yarn check
        working-directory: packages/frameworks/solid-vite
      - name: Publish to NPM
        if: github.event_name == 'release'
        run: yarn npm publish
        working-directory: packages/frameworks/solid-vite
        env:
          YARN_NPM_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
